<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="scripts/vendor/require.js"></script>
    <script>
        //Loads the common code that includes requirejs configuration.
        requirejs(['./scripts/common.js'], function () {
            //Loads the app logic for this page.
            requirejs(['page/home']);
        });
    </script>
</head>
<body>
<div id="content">
    <input v-model="poolName" />
    <button v-on:click="newPool">Create New Pool</button>
</div>
</body>
</html>